<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamar API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>

<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='lama.png') }}" alt="Logo Lamar API" class="logo">
            <h1>Lamar API</h1>
        </div>
    </header>

    <main class="container">
        <section class="form-section">
            <h2>1. Sélectionner une image à GeoPoser</h2>
            <label for="imageInput" class="custom-label">Importer une image</label>
            <input type="file" id="imageInput" accept="image/*" onchange="displayImage(event)" required>
            <p id="image"></p>
            <img id="preview" src="#" alt="Aperçu de l'image" class="preview-img" style="display:none;">
        </section>

        <section class="form-section">
            <h2>2. Sélectionner un dossier GeoPose</h2>
            <label for="folderInput" class="custom-label">Importer un dossier</label>
            <input type="file" id="folderInput" onchange="displayFolderPath()" webkitdirectory directory multiple>
            <p id="folderPath"></p>
        </section>

        <button onclick="submitAll()">Lancer le traitement</button>

        <div id="status" class="status"></div>
        <div id="output" class="output"></div>

        <div id="map" class="map-container"></div>
        <div id="streetview-link" class="streetview-link-container"></div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='func.js') }}" ></script>
</body>

</html>
